<p>My chats</p>

{{#each companions}}
   <div><a href="/chat/{{this.id}}.{{this.chatId}}">{{this.username}}</a></div>
{{/each}}

<p>Users</p>

{{#each users}}
    <div><a href="/chat/new_chat/{{this.id}}">{{this.username}}</a></div>
{{/each}}