<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<div class="dashboard_container">
    <div class="">
        <div class="elements_list">
            {{#each orders}}
                <div class="dashboard_element">
                    <div class="dashboard_filling">
                        <div><h2><a class="h2a" href="/order/{{this.id}}">{{this.product_name}}</a></h2></div>
                        <div>{{this.price}}</div>
                        <p class="db_description">{{this.description}}</p>
                        <div>
                            <form action="/dashboard/{{this.id}}" method="post">
                                <div>
                                    <button class="delete_btn"><a>Удалить</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="div_logout">
            <!--            <a class="a_logout" href="/login/logout">Logout</a>-->
            <a class="a_logout knopka" href="/login/logout">Выйти</a>
        </div>
    </div>
</div>
<script src="/javascripts/dashboard_limiter.js"></script>
