<h1>Список пользователей</h1>
{{#if admin}}
    {{admin}} {{admin}} {{admin}}
{{/if}}
<button id="button_add"><a id="a_add" href="/create">Добавить пользователя</a></button>
<table>
    <tr><th>Name</th><th>Prise</th><th>CompanyID</th><th></th></tr>
    {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.prise}}</td>
            <td>{{this.companyId}}</td>
            <td>
            {{#if ../admin}}
            <a href="/edit/{{this.id}}">Edit</a>|
            <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                <input type="submit" value="Delete" />
            </form>
            {{/if}}
            </td>
        </tr>
    {{/each}}
</table>
<table style="margin-left: 20px;">
    {{#if companies}}
        <tr><th>Id</th><th>Name</th><th></th></tr>
    {{/if}}
    {{#each companies}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>
            {{#if ../admin}}
                <form action="delete/company/{{this.id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            {{/if}}
            </td>
        </tr>
    {{/each}}
</table>