<div class="main_container">
    <form action="/" method="post">
        <div class="name_row">
            <div><label for="desired">Поиск:</label></div>
            <input type="text" name="desired" id="desired">
        </div>
        <div>
            <button class="common_btn"><a>Найти</a></button>
        </div>
    </form>
    {{#each orders}}
        <div class="main_element">
            <div class="element_left">
                <img src="{{this.logo}}" alt=""/>
            </div>
            <div class="element_middle">
                <h2><a href="/order/{{this.id}}">{{this.product_name}}</a></h2>
                <h3>{{this.price}}</h3>
                <p>{{this.description}}</p>
            </div>
            <div class="element_right">
                <p>{{this.address}}</p>
                <p>{{this.last_login_time}}</p>
                <p>{{this.phone_number}}</p>
            </div>
        </div>
    {{/each}}
</div>

