<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<div class="main_container1">
    <div class="container1">
        <div class="griditem A">
            <h1>{{product_name}}</h1>
            <h1 class="h_right">{{price}}</h1>
        </div>
        <div class="griditem B">
            <img class="order_img" src="{{logo}}" alt="">
        </div>
        <div class="griditem C">
            <a class="knopka" href="/chat/new_chat/{{userId}}">Написать</a>
            <h2>{{phone_number}}</h2>
            <h3>Адрес: {{address}}</h3>
            <h3>Был в сети: {{last_login_time}}</h3>
        </div>
        <div class="griditem D">
            <h3 id="des">{{description}}</h3>

        </div>
    </div>
</div>
<script src="/javascripts/indent_creator.js"></script>
