<div class="main_container">
    <h1><a href="/chat/new_chat/{{userId}}">Написать</a></h1>
    <h1>{{logo}}</h1>
    <h1>{{product_name}}</h1>
    <h1>{{price}}</h1>
    <h1>{{description}}</h1>
    <h1>{{address}}</h1>
    <h1>{{last_login_time}}</h1>
    <h1>{{phone_number}}</h1>
</div>
